body {
  font-family: 'Lekton', sans-serif;
}

h4 {
  font-size: 1em;
  line-height: .25;
  margin-bottom: .4125em;
}

.task-id {
  font-size: .75em;
}

.welcome {
  font-size: 1em;
  line-height: .25;
  margin-bottom: .4125em;
  padding-right: 2em;
  padding-left: 18em;
}

.nav-link {
  text-decoration: none;
}

select {
  font-family: inherit;
}

.page {
  margin: 0 auto;
  width: 1060px;
}

.nav-main li {
  display: inline-block;
}

.nav-main a {
  display: inline-block;
  padding: .5em 1.15em .5em 1.4em;
  text-transform: uppercase;
}

.page-header {
  width: 1060px;
  height: 15px;
  margin-left: 1em;
  text-align: left;
}

.workflow-sidebar {
  float: left;
  width: 220px;
  margin-left: 1em;
  margin-top: 1em;
}

.workflow-task-list {
  float: left;
  width: 110px;
  margin-left: 1em;
  margin-top: 1em;
}

.workflow-task-head {
  float: left;
  height: 80px;
  padding: .5em .5em .5em .5em;
  overflow: scroll;
}

.workflow-task {
  float: left;
  height: 30px;
  padding: .5em .5em .5em .5em;
}

.task-sidebar {
  float: left;
  width: 220px;
  margin-left: 1em;
  margin-top: 1em;
}

.report-container {
  float: left;
  width: 700px;
  margin-left: 1em;
  margin-top: 1em;
}

.report-container-bar {
  float: left;
  width: 600px;
  margin-left: 1em;
  margin-top: 1em;
}

.report-container-dough {
  float: left;
  width: 600px;
  margin-left: 1em;
  margin-top: 1em;
}

.task-list {
  float: right;
  width: 800px;
  height: 600px;
  overflow: scroll;
  margin-left: 1em;
  margin-top: 1em;
}

.workflow-lists-container {
  float: left;
  width: 700px;
  height: 720px;
  overflow: scroll;
  margin-left: 1em;
  margin-top: 1em;
}

.task-item {
  float: left;
  width: 200px;
  height: 130px;
  padding: .5em .5em .5em .5em;
}

.filter-label {
  display: inline-block;
  width: 5em;
  text-align: left;
}​

.task-table {
  background-color: 'gray';
}

.task-table .c1 {
  width: 100px;
}
