body {
  font-family: 'Lekton', sans-serif;
}


div.header-container {

}

select {
  font-family: inherit;
}

.page {
  margin: 0 auto;
  width: 1060px;
}

.nav-main li {
  display: inline-block;
}

.nav-main a {
  display: inline-block;
  padding: .5em 1.15em .5em 1.4em;
  text-transform: uppercase;
}

.workflow-container {

}

.workflow-sidebar {
  float: left;
  width: 220px;
  margin-left: 1em;
  margin-top: 1em;
}

.workflow-task-list {
  float: left;
  width: 170px;
  margin-left: 1em;
  margin-top: 1em;
}

.workflow-task {
  float: left;
  width: 160px;
  height: 30px;
  padding: .5em .5em .5em .5em;
}

.task-sidebar {
  float: left;
  width: 220px;
  margin-left: 1em;
  margin-top: 1em;
}

.report-container {
  float: left;
  width: 700px;
  margin-left: 1em;
  margin-top: 1em;
}

.report-container-bar {
  float: left;
  width: 600px;
  margin-left: 1em;
  margin-top: 1em;
}

.report-container-dough {
  float: left;
  width: 600px;
  margin-left: 1em;
  margin-top: 1em;
}

.task-list {
  float: right;
  width: 800px;
  margin-left: 1em;
  margin-top: 1em;
}

.task-item {
  float: left;
  width: 200px;
  height: 120px;
  padding: .5em .5em .5em .5em;
}

.filter-label {
  display: inline-block;
  width: 5em;
  text-align: left;
}​

.task-table {
  background-color: 'gray';
}

.task-table .c1 {
  width: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
